@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  // Typography
  --primary-ff: "Roboto", sans-serif;
  --mono-ff: "Roboto Mono", monospace;
  --secondary-ff: "Roboto Slab", sans-serif;
  --fs: 16px;

  // Global Colors
  --neutral-950: #000000;
  --neutral-500: #6f6f6f;
  --neutral-200: #e4e4e4;
  --neutral-100: #f5f5f5;
  --neutral-000: #ffffff;

  // Slate colors
  --slate-950: #1d1f22;
  --slate-800: #2b2d31;
  --slate-700: #35393f;
  --slate-500: #5a6069;
  --slate-400: #7c8187;
  --slate-300: #c1c4cb;

  // Orange colors
  --orange-600: #e46643;
  --orange-400: #f39765;

  // TODO: Move this colors to :root[data-theme="dark"] and :root[data-theme="light"]
  --editor-title-bg: var(--neutral-100);
  --editor-title-color: var(--slate-400);
  --divider-color: var(--neutral-200);
}
