.markdownSidebar {
  width: 250px;
  position: absolute;
  background: var(--slate-950);
  padding: 24px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &--active {
    transform: translateX(0)
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 115%;
    color: var(--slate-400);
  }
}
